.dropdown {
  /* margin: 0 10px 0 10px; */
  position: relative;
  z-index:90;
  height: 30px;
  background-color: yellow;
  overflow: hidden;
}
.dropdownTest {
  overflow: initial;
}
.dropdownMenu {
  position: absolute;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  left: -97px;
  right: 12px;
  /* top: calc(100% + 0.1px); */
  z-index:80;
  top: 40px;
  background-color: rgb(12 24 50);
  opacity: 0;
  transition: opacity 300ms ease-in-out, transform 300ms ease-in;
  /* transform: translateY(-100px); */
  transform: translateY(10px);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.link {
  font-size: 20px;
  display: flex;
  align-items: center;
  /* justify-content: end; */
  flex: flex-end;
  text-align: right;
  color: white;
  line-height: 20px;
  height: 40px;
  transition: 300ms ease-in-out;
  position:relative;
  z-index: 40;
}

.dropdown > .link:focus + .dropdownMenu {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: auto;
}
